<div class="container bg-primary w-screen h-screen">
  <div class="center-container w-16rem absolute top-50 left-50">
    <div class="logo w-full text-center mb-2">
      <img alt="ubike logo" src="./assets/logo.png" class="w-10">
    </div>
    <div class="slogon line-height-2 text-center mt-2 mb-4 font-light">找台單車，來場城市小旅行</div>
    <div class="search-field">
      <div class="mb-2">
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
      </div>
      <div class="w-full">
        <p-autoComplete [suggestions]="results" (completeMethod)="search($event)" [style]="{'width': '100%'}" [inputStyle]="{'width': '100%'}" (onSelect)="onStationSelect($event)" [placeholder]="'輸入站名關鍵字'">
          <ng-template let-station pTemplate="item">
            {{ station.label }}
          </ng-template>
          <ng-template let-station pTemplate="selectedItem">
            {{ station.label }}
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
    <div class="search-near border-1 border-round border-white p-2 mt-4 flex align-items-center justify-content-center" (click)="onSearchNearbyClick()">
      <img alt="bike-site-icon" src="./assets/icons-07.png">
      <div>尋找附近站/點</div>
    </div>
  </div>
</div>