<hexschool-f2e-header *ngIf="showHeader()">
  <div class="header-actions">
    <i class="pi pi-angle-left text-2xl cursor-pointer" [style.visibility]="showBack() === true ? 'visible' : 'hidden'" (click)="onBackClick()"></i>
  </div>
  <div class="header-sub-actions">
    &nbsp;
    <i class="pi pi-cog text-2xl cursor-pointer" *ngIf="showSetting() === true" (click)="onCitySettingClick()"></i>
    <i class="pi pi-map text-2xl cursor-pointer" *ngIf="showMap() === true" (click)="onMapClick()"></i>
  </div>
</hexschool-f2e-header>

<div class="content" [style.height]="showHeader() === true ? 'calc(100vh - 3rem)' : '100vh'">
  <router-outlet></router-outlet>
</div>

<p-toast [position]="'bottom-center'"></p-toast>