/* You can add global styles to this file, and also import other style files */
body {
  font-size: 18px;
}
:root {
  --text-color: #4f4f4f;
  --primary-color: #70bd97;
  --pink-500: #ff7474;
  --gray-500: #999999;
  --gray-400: #bdbdbd;
  --gray-100: #f2f2f2;
}
