/* You can add global styles to this file, and also import other style files */
body {
  font-size: 18px;
}
.text-primary {
  color: #70bd97 !important;
}
.text-danger {
  color: #ff7474 !important;
}
.text-normal {
  color: #4f4f4f !important;
}
.text-gray {
  color: #999999 !important;
}
.text-gray-500 {
  color: #bdbdbd !important;
}
.text-gray-900 {
  color: #f2f2f2 !important;
}
