/* You can add global styles to this file, and also import other style files */
:root {
  --text-color: #4f4f4f;
  --text-color-secondary: #bdbdbd;
  --primary-color: #f1e272;
  --primary-color-text: #4f4f4f;
  --border-radius: 16px;
  --gray-500: #e0e0e0;
}
* {
  box-sizing: border-box;
}
