<div class="container bg-primary w-screen h-screen">
  <div class="center-container w-16rem absolute top-50 left-50">
    <div class="logo w-full text-center mb-2">
      <img alt="ubike logo" src="./assets/logo.png" class="w-10">
    </div>
    <div class="slogon line-height-2 text-center mt-2 mb-4 font-light">找台單車，來場城市小旅行</div>
    <hexschool-f2e-search-input></hexschool-f2e-search-input>
    <div class="search-near border-1 border-round border-white p-2 mt-4 flex align-items-center justify-content-center">
      <img alt="bike-site-icon" src="./assets/icons-07.png">
      <div class="">尋找附近站/點</div>
    </div>
  </div>
</div>