$icon-size: 2rem;

.carousel {
  ::ng-deep .p-carousel-prev {
    position: absolute;
    width: $icon-size;
    height: $icon-size;
    left: 12px;
    color: #eaeaea;
    z-index: 1001;
    span {
      font-size: $icon-size;
    }
  }
  ::ng-deep .p-carousel-next {
    position: absolute;
    width: $icon-size;
    height: $icon-size;
    right: 12px;
    color: #eaeaea;
    z-index: 1001;
    span {
      font-size: $icon-size;
    }
  }
}
.carousel-item {
  background-size: cover;
}
.carousel-title {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.tab-view {
  ::ng-deep .p-tabview .p-tabview-nav li {
    flex: 1 1 auto;
  }
  ::ng-deep .p-tabview .p-tabview-nav {
    padding: 0 16px;
  }
  ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 0.5rem 0.75rem;
  }
  ::ng-deep .p-tabview .p-tabview-nav .p-tabview-nav-link {
    border-color: #dee2e6;
    background-color: #fff;
    color: #70bd97;
  }
  ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: #70bd97;
    background-color: #70bd97;
    color: #fff;
  }
  ::ng-deep .p-tabview .p-tabview-panels {
    padding: 0;
  }
}
