<div>
  <!-- search 搜尋框 -->
  <div class="search-field bg-primary p-2" *ngIf="showSearch">
    <span class="p-input-icon-right w-full">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="searchKeyword" class="w-full">
    </span>
  </div>
  <!-- carousel 輪播 -->
  <div class="carousel w-screen h-15rem">
    <p-carousel [value]="carouselList" [autoplayInterval]="3000" [circular]="true" [showNavigators]="true" [showIndicators]="false">
      <ng-template let-car pTemplate="item">
        <div class="carousel-item w-screen h-15rem flex align-items-center justify-content-center" [ngStyle]="{'background-image': car.img_path}">
          <div class="carousel-title text-6xl text-white font-normal">{{ car.title }}</div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <!-- tabview 頁籤 -->
  <div class="tab-view mt-3">
    <p-tabView>
      <p-tabPanel header="景點">
        <ng-template pTemplate="header">
          <div class="flex mx-auto justify-content-between align-items-center">
            <ic-icon class="mr-1 mt-1" [icon]="attractionIcon"></ic-icon>
            <span class="font-normal">景點</span>
          </div>
        </ng-template>
        <hexschool-f2e-attraction></hexschool-f2e-attraction>
      </p-tabPanel>
      <p-tabPanel header="美食">
        <ng-template pTemplate="header">
          <div class="flex mx-auto justify-content-between align-items-center">
            <ic-icon class="mr-1 mt-1" [icon]="foodIcon"></ic-icon>
            <span class="font-normal">美食</span>
          </div>
        </ng-template>
        <hexschool-f2e-food></hexschool-f2e-food>
      </p-tabPanel>
      <p-tabPanel header="住宿">
        <ng-template pTemplate="header">
          <div class="flex mx-auto justify-content-between align-items-center">
            <ic-icon class="mr-1 mt-1" [icon]="hotelIcon"></ic-icon>
            <span class="font-normal">住宿</span>
          </div>
        </ng-template>
        <hexschool-f2e-hotel></hexschool-f2e-hotel>
      </p-tabPanel>
      <p-tabPanel header="交通">
        <ng-template pTemplate="header">
          <div class="flex mx-auto justify-content-between align-items-center">
            <ic-icon class="mr-1 mt-1" [icon]="vehicleBusIcon"></ic-icon>
            <span class="font-normal">交通</span>
          </div>
        </ng-template>
        <hexschool-f2e-vehicle></hexschool-f2e-vehicle>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>